*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

:root{
    --main-bg-color: #D4D4D2;
    --cal-bg-color: #1C1C1C;
    --btn-bg-color: #505050;
    --operatot-btn-bg-color: #FF9500;
    --inset-shadow: #f4f2f2;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
}

.screen{
    margin: auto;
    text-align: end;
    width: 330px;
}

.main-screen{
    font-size: 95px;
    margin-bottom: 10px;
    line-height: 85px;
    width: 100%;
    height: 85px;
}

.upper-screen{
    font-size: 20px;
    height: 33px;
}

.calc{
    background-color: var(--cal-bg-color);
    height: 110vh;
    width: 100vw;
    color: white;
    padding-top: 30px;
}

.calc-body{
    width: 330px;
    margin: auto;
}

.calc-flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.calc-btn{
    background-color: var(--btn-bg-color);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    transition: background-color ease-in-out 400ms;
}

.double{
    width: 160px;
    border-radius: 50px;
    justify-content: start;
    padding: 27px;
}

.calc-flex .operator{
    background-color: var(--operatot-btn-bg-color);
    padding-bottom: 5px;
}

.func{
    background-color: var(--main-bg-color);
    color: var(--cal-bg-color);
    font-size: 30px;
}

.num-click{
    background-color: var(--main-bg-color);
    transition: background-color 0ms;
}

.symbol-click{
    background-color: white;
    transition: background-color 0ms;
}

.calc-flex .operator-click{
    background-color: white;
    color: var(--operatot-btn-bg-color);
}

.clear-one{
    cursor: pointer;
    width: fit-content;
    float: right;
    padding: 3px;
}

@media only screen and (min-width: 426px){
    .calc{
        width: 375px;
        height: 667px;
        margin: 0 auto;
        border-radius: 40px;
        box-shadow: 0 0 20px 5px var(--btn-bg-color),
        inset 0 0 15px 2px var(--inset-shadow);
        
    }

    body{
        padding-top: 70px;
    }
}